<a href="https://colab.research.google.com/github/SwetaIIT/Data-Science-Projects/blob/main/Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Covid19.csv")

In [3]:
df

                                   State/UTs  ...  Death Ratio
0                                Maharashtra  ...         1.97
1                                  Karnataka  ...         1.20
2                                     Kerala  ...         0.43
3                                 Tamil Nadu  ...         1.28
4                             Andhra Pradesh  ...         0.67
5                              Uttar Pradesh  ...         1.30
6                                West Bengal  ...         1.17
7                                      Delhi  ...         1.74
8                               Chhattisgarh  ...         1.35
9                                  Rajasthan  ...         0.93
10                                    Odisha  ...         0.41
11                                   Gujarat  ...         1.22
12                            Madhya Pradesh  ...         1.11
13                                   Haryana  ...         1.20
14                                     Bihar  ...         1.33
15                                 Telengana  ...         0.58
16                                    Punjab  ...         2.67
17                                     Assam  ...         0.87
18                                 Jharkhand  ...         1.48
19                               Uttarakhand  ...         2.08
20                         Jammu and Kashmir  ...         1.36
21                          Himachal Pradesh  ...         1.72
22                                       Goa  ...         1.82
23                                Puducherry  ...         1.50
24                                   Manipur  ...         1.64
25                                   Tripura  ...         1.04
26                                Chandigarh  ...         1.31
27                                 Meghalaya  ...         1.73
28                         Arunachal Pradesh  ...         0.48
29                                  Nagaland  ...         1.93
30                                    Ladakh  ...         1.02
31                                    Sikkim  ...         1.51
32                                   Mizoram  ...         0.45
33  Dadra and Nagar Haveli and Daman and Diu  ...         0.04
34                               Lakshadweep  ...         0.49
35                       Andaman and Nicobar  ...         1.72

[36 rows x 8 columns]

In [5]:
df.head(25)

            State/UTs  Total Cases  ...  Discharge Ratio  Death Ratio
0         Maharashtra      5963420  ...            95.76         1.97
1           Karnataka      2801936  ...            94.12         1.20
2              Kerala      2797747  ...            95.74         0.43
3          Tamil Nadu      2414680  ...            95.45         1.28
4      Andhra Pradesh      1844917  ...            95.80         0.67
5       Uttar Pradesh      1704139  ...            98.41         1.30
6         West Bengal      1479523  ...            97.28         1.17
7               Delhi      1432168  ...            98.10         1.74
8        Chhattisgarh       990323  ...            97.69         1.35
9           Rajasthan       950961  ...            98.70         0.93
10             Odisha       873925  ...            95.56         0.41
11            Gujarat       822149  ...            97.98         1.22
12     Madhya Pradesh       789174  ...            98.58         1.11
13            Haryana       767217  ...            98.45         1.20
14              Bihar       719400  ...            98.20         1.33
15          Telengana       612196  ...            96.39         0.58
16             Punjab       591762  ...            95.96         2.67
17              Assam       480730  ...            91.77         0.87
18          Jharkhand       344405  ...            98.04         1.48
19        Uttarakhand       338508  ...            96.97         2.08
20  Jammu and Kashmir       311209  ...            95.61         1.36
21   Himachal Pradesh       200282  ...            96.79         1.72
22                Goa       164229  ...            96.07         1.82
23         Puducherry       114596  ...            95.19         1.50
24            Manipur        63538  ...            83.35         1.64

[25 rows x 8 columns]

In [6]:
df.tail(30)

                                   State/UTs  ...  Death Ratio
6                                West Bengal  ...         1.17
7                                      Delhi  ...         1.74
8                               Chhattisgarh  ...         1.35
9                                  Rajasthan  ...         0.93
10                                    Odisha  ...         0.41
11                                   Gujarat  ...         1.22
12                            Madhya Pradesh  ...         1.11
13                                   Haryana  ...         1.20
14                                     Bihar  ...         1.33
15                                 Telengana  ...         0.58
16                                    Punjab  ...         2.67
17                                     Assam  ...         0.87
18                                 Jharkhand  ...         1.48
19                               Uttarakhand  ...         2.08
20                         Jammu and Kashmir  ...         1.36
21                          Himachal Pradesh  ...         1.72
22                                       Goa  ...         1.82
23                                Puducherry  ...         1.50
24                                   Manipur  ...         1.64
25                                   Tripura  ...         1.04
26                                Chandigarh  ...         1.31
27                                 Meghalaya  ...         1.73
28                         Arunachal Pradesh  ...         0.48
29                                  Nagaland  ...         1.93
30                                    Ladakh  ...         1.02
31                                    Sikkim  ...         1.51
32                                   Mizoram  ...         0.45
33  Dadra and Nagar Haveli and Daman and Diu  ...         0.04
34                               Lakshadweep  ...         0.49
35                       Andaman and Nicobar  ...         1.72

[30 rows x 8 columns]

In [8]:
df.sort_values(by="Discharged")

                                   State/UTs  ...  Death Ratio
35                       Andaman and Nicobar  ...         1.72
34                               Lakshadweep  ...         0.49
33  Dadra and Nagar Haveli and Daman and Diu  ...         0.04
32                                   Mizoram  ...         0.45
31                                    Sikkim  ...         1.51
30                                    Ladakh  ...         1.02
29                                  Nagaland  ...         1.93
28                         Arunachal Pradesh  ...         0.48
27                                 Meghalaya  ...         1.73
24                                   Manipur  ...         1.64
25                                   Tripura  ...         1.04
26                                Chandigarh  ...         1.31
23                                Puducherry  ...         1.50
22                                       Goa  ...         1.82
21                          Himachal Pradesh  ...         1.72
20                         Jammu and Kashmir  ...         1.36
19                               Uttarakhand  ...         2.08
18                                 Jharkhand  ...         1.48
17                                     Assam  ...         0.87
16                                    Punjab  ...         2.67
15                                 Telengana  ...         0.58
14                                     Bihar  ...         1.33
13                                   Haryana  ...         1.20
12                            Madhya Pradesh  ...         1.11
11                                   Gujarat  ...         1.22
10                                    Odisha  ...         0.41
9                                  Rajasthan  ...         0.93
8                               Chhattisgarh  ...         1.35
7                                      Delhi  ...         1.74
6                                West Bengal  ...         1.17
5                              Uttar Pradesh  ...         1.30
4                             Andhra Pradesh  ...         0.67
3                                 Tamil Nadu  ...         1.28
1                                  Karnataka  ...         1.20
2                                     Kerala  ...         0.43
0                                Maharashtra  ...         1.97

[36 rows x 8 columns]

In [9]:
df.sort_values(by="Discharge Ratio")

                                   State/UTs  ...  Death Ratio
32                                   Mizoram  ...         0.45
24                                   Manipur  ...         1.64
31                                    Sikkim  ...         1.51
27                                 Meghalaya  ...         1.73
29                                  Nagaland  ...         1.93
28                         Arunachal Pradesh  ...         0.48
17                                     Assam  ...         0.87
25                                   Tripura  ...         1.04
1                                  Karnataka  ...         1.20
23                                Puducherry  ...         1.50
3                                 Tamil Nadu  ...         1.28
10                                    Odisha  ...         0.41
20                         Jammu and Kashmir  ...         1.36
2                                     Kerala  ...         0.43
0                                Maharashtra  ...         1.97
4                             Andhra Pradesh  ...         0.67
34                               Lakshadweep  ...         0.49
16                                    Punjab  ...         2.67
22                                       Goa  ...         1.82
15                                 Telengana  ...         0.58
21                          Himachal Pradesh  ...         1.72
30                                    Ladakh  ...         1.02
35                       Andaman and Nicobar  ...         1.72
19                               Uttarakhand  ...         2.08
6                                West Bengal  ...         1.17
8                               Chhattisgarh  ...         1.35
11                                   Gujarat  ...         1.22
26                                Chandigarh  ...         1.31
18                                 Jharkhand  ...         1.48
7                                      Delhi  ...         1.74
14                                     Bihar  ...         1.33
5                              Uttar Pradesh  ...         1.30
13                                   Haryana  ...         1.20
12                            Madhya Pradesh  ...         1.11
9                                  Rajasthan  ...         0.93
33  Dadra and Nagar Haveli and Daman and Diu  ...         0.04

[36 rows x 8 columns]

In [10]:
df.columns

Index(['State/UTs', 'Total Cases', 'Active', 'Discharged', 'Deaths',
       'Active Ratio', 'Discharge Ratio', 'Death Ratio'],
      dtype='object')

In [12]:
df.shape

(36, 8)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State/UTs        36 non-null     object
 1   Total Cases      36 non-null     int64
 2   Active           36 non-null     int64
 3   Discharged       36 non-null     int64
 4   Deaths           36 non-null     int64
 5   Active Ratio     36 non-null     float64
 6   Discharge Ratio  36 non-null     float64
 7   Death Ratio      36 non-null     float64
dtypes: float64(3), int64(4), object(1)
memory usage: 2.4+ KB

In [14]:
df.describe()

        Total Cases         Active  ...  Discharge Ratio  Death Ratio
count  3.600000e+01      36.000000  ...        36.000000    36.000000
mean   8.300492e+05   20259.055556  ...        94.743056     1.243056
std    1.186261e+06   36523.027439  ...         4.912054     0.563301
min    7.394000e+03      74.000000  ...        76.760000     0.040000
25%    5.727625e+04    2561.250000  ...        94.922500     0.915000
50%    4.125675e+05    3804.500000  ...        96.015000     1.290000
75%    9.608015e+05   11795.500000  ...        97.995000     1.660000
max    5.963420e+06  135708.000000  ...        99.260000     2.670000

[8 rows x 7 columns]

In [15]:
df.value_counts("State/UTs")

State/UTs
West Bengal                                 1
Uttarakhand                                 1
Karnataka                                   1
Jharkhand                                   1
Jammu and Kashmir                           1
Himachal Pradesh                            1
Haryana                                     1
Gujarat                                     1
Goa                                         1
Delhi                                       1
Dadra and Nagar Haveli and Daman and Diu    1
Chhattisgarh                                1
Chandigarh                                  1
Bihar                                       1
Assam                                       1
Arunachal Pradesh                           1
Andhra Pradesh                              1
Kerala                                      1
Ladakh                                      1
Lakshadweep                                 1
Punjab                                      1
Uttar Pradesh                               1
Tripura                                     1
Telengana                                   1
Tamil Nadu                                  1
Sikkim                                      1
Rajasthan                                   1
Puducherry                                  1
Madhya Pradesh                              1
Odisha                                      1
Nagaland                                    1
Mizoram                                     1
Meghalaya                                   1
Manipur                                     1
Maharashtra                                 1
Andaman and Nicobar                         1
dtype: int64

In [16]:
df.isna()

    State/UTs  Total Cases  Active  ...  Active Ratio  Discharge Ratio  Death Ratio
0       False        False   False  ...         False            False        False
1       False        False   False  ...         False            False        False
2       False        False   False  ...         False            False        False
3       False        False   False  ...         False            False        False
4       False        False   False  ...         False            False        False
5       False        False   False  ...         False            False        False
6       False        False   False  ...         False            False        False
7       False        False   False  ...         False            False        False
8       False        False   False  ...         False            False        False
9       False        False   False  ...         False            False        False
10      False        False   False  ...         False            False        False
11      False        False   False  ...         False            False        False
12      False        False   False  ...         False            False        False
13      False        False   False  ...         False            False        False
14      False        False   False  ...         False            False        False
15      False        False   False  ...         False            False        False
16      False        False   False  ...         False            False        False
17      False        False   False  ...         False            False        False
18      False        False   False  ...         False            False        False
19      False        False   False  ...         False            False        False
20      False        False   False  ...         False            False        False
21      False        False   False  ...         False            False        False
22      False        False   False  ...         False            False        False
23      False        False   False  ...         False            False        False
24      False        False   False  ...         False            False        False
25      False        False   False  ...         False            False        False
26      False        False   False  ...         False            False        False
27      False        False   False  ...         False            False        False
28      False        False   False  ...         False            False        False
29      False        False   False  ...         False            False        False
30      False        False   False  ...         False            False        False
31      False        False   False  ...         False            False        False
32      False        False   False  ...         False            False        False
33      False        False   False  ...         False            False        False
34      False        False   False  ...         False            False        False
35      False        False   False  ...         False            False        False

[36 rows x 8 columns]

In [17]:
df.isnull().sum()

State/UTs          0
Total Cases        0
Active             0
Discharged         0
Deaths             0
Active Ratio       0
Discharge Ratio    0
Death Ratio        0
dtype: int64

In [18]:
df.drop_duplicates("State/UTs")

                                   State/UTs  ...  Death Ratio
0                                Maharashtra  ...         1.97
1                                  Karnataka  ...         1.20
2                                     Kerala  ...         0.43
3                                 Tamil Nadu  ...         1.28
4                             Andhra Pradesh  ...         0.67
5                              Uttar Pradesh  ...         1.30
6                                West Bengal  ...         1.17
7                                      Delhi  ...         1.74
8                               Chhattisgarh  ...         1.35
9                                  Rajasthan  ...         0.93
10                                    Odisha  ...         0.41
11                                   Gujarat  ...         1.22
12                            Madhya Pradesh  ...         1.11
13                                   Haryana  ...         1.20
14                                     Bihar  ...         1.33
15                                 Telengana  ...         0.58
16                                    Punjab  ...         2.67
17                                     Assam  ...         0.87
18                                 Jharkhand  ...         1.48
19                               Uttarakhand  ...         2.08
20                         Jammu and Kashmir  ...         1.36
21                          Himachal Pradesh  ...         1.72
22                                       Goa  ...         1.82
23                                Puducherry  ...         1.50
24                                   Manipur  ...         1.64
25                                   Tripura  ...         1.04
26                                Chandigarh  ...         1.31
27                                 Meghalaya  ...         1.73
28                         Arunachal Pradesh  ...         0.48
29                                  Nagaland  ...         1.93
30                                    Ladakh  ...         1.02
31                                    Sikkim  ...         1.51
32                                   Mizoram  ...         0.45
33  Dadra and Nagar Haveli and Daman and Diu  ...         0.04
34                               Lakshadweep  ...         0.49
35                       Andaman and Nicobar  ...         1.72

[36 rows x 8 columns]

In [24]:
df.rename(columns={"State/UTs":"Indian States"})

                               Indian States  ...  Death Ratio
0                                Maharashtra  ...         1.97
1                                  Karnataka  ...         1.20
2                                     Kerala  ...         0.43
3                                 Tamil Nadu  ...         1.28
4                             Andhra Pradesh  ...         0.67
5                              Uttar Pradesh  ...         1.30
6                                West Bengal  ...         1.17
7                                      Delhi  ...         1.74
8                               Chhattisgarh  ...         1.35
9                                  Rajasthan  ...         0.93
10                                    Odisha  ...         0.41
11                                   Gujarat  ...         1.22
12                            Madhya Pradesh  ...         1.11
13                                   Haryana  ...         1.20
14                                     Bihar  ...         1.33
15                                 Telengana  ...         0.58
16                                    Punjab  ...         2.67
17                                     Assam  ...         0.87
18                                 Jharkhand  ...         1.48
19                               Uttarakhand  ...         2.08
20                         Jammu and Kashmir  ...         1.36
21                          Himachal Pradesh  ...         1.72
22                                       Goa  ...         1.82
23                                Puducherry  ...         1.50
24                                   Manipur  ...         1.64
25                                   Tripura  ...         1.04
26                                Chandigarh  ...         1.31
27                                 Meghalaya  ...         1.73
28                         Arunachal Pradesh  ...         0.48
29                                  Nagaland  ...         1.93
30                                    Ladakh  ...         1.02
31                                    Sikkim  ...         1.51
32                                   Mizoram  ...         0.45
33  Dadra and Nagar Haveli and Daman and Diu  ...         0.04
34                               Lakshadweep  ...         0.49
35                       Andaman and Nicobar  ...         1.72

[36 rows x 8 columns]

In [25]:
df.replace("Haryana","Sweta")

                                   State/UTs  ...  Death Ratio
0                                Maharashtra  ...         1.97
1                                  Karnataka  ...         1.20
2                                     Kerala  ...         0.43
3                                 Tamil Nadu  ...         1.28
4                             Andhra Pradesh  ...         0.67
5                              Uttar Pradesh  ...         1.30
6                                West Bengal  ...         1.17
7                                      Delhi  ...         1.74
8                               Chhattisgarh  ...         1.35
9                                  Rajasthan  ...         0.93
10                                    Odisha  ...         0.41
11                                   Gujarat  ...         1.22
12                            Madhya Pradesh  ...         1.11
13                                     Sweta  ...         1.20
14                                     Bihar  ...         1.33
15                                 Telengana  ...         0.58
16                                    Punjab  ...         2.67
17                                     Assam  ...         0.87
18                                 Jharkhand  ...         1.48
19                               Uttarakhand  ...         2.08
20                         Jammu and Kashmir  ...         1.36
21                          Himachal Pradesh  ...         1.72
22                                       Goa  ...         1.82
23                                Puducherry  ...         1.50
24                                   Manipur  ...         1.64
25                                   Tripura  ...         1.04
26                                Chandigarh  ...         1.31
27                                 Meghalaya  ...         1.73
28                         Arunachal Pradesh  ...         0.48
29                                  Nagaland  ...         1.93
30                                    Ladakh  ...         1.02
31                                    Sikkim  ...         1.51
32                                   Mizoram  ...         0.45
33  Dadra and Nagar Haveli and Daman and Diu  ...         0.04
34                               Lakshadweep  ...         0.49
35                       Andaman and Nicobar  ...         1.72

[36 rows x 8 columns]

In [26]:
df['Active']=df['Active'].replace(2677,0)

In [28]:
print(df['Active'])

0     135708
1     130894
2     107300
3      78780
4      65244
5       4957
6      23013
7       2372
8       9531
9       3451
10     35243
11      6579
12      2442
13         0
14      3396
15     18568
16      8077
17     35368
18      1639
19      3220
20      9414
21      2990
22      3473
23      3793
24      9538
25      4417
26       396
27      4743
28      2601
29      1979
30       432
31      2751
32      3816
33        74
34       345
35       105
Name: Active, dtype: int64